<!-- app/views/profile.hbs -->
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="/public/css/bootstrap.min.css">
	<link rel="stylesheet" href="/public/css/font-awesome.min.css">
	<script src="/public/javascript/sorttable.js"></script>
	<script src="/public/javascript/jquery.js"></script>
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Profile Page</h1>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>

	<div class="row">
			<!-- PROFILE INFORMATION -->
			<div class="well">
				<h3><span class="fa fa-user"></span>Info</h3>
				<table border="3">
					<tr>
						<th>Business ID</th>
						<th>Business Name</th>
						<th>Choose</th>
					</tr>
					<tr>
						<td>{{ business._id}}</td>
						<td>{{ business.info.firstName }} </td>
						<td> <a href='/users/{{ user._id }}/edit'>Pick me!<a></td>
					</tr>
				</table>
			</div>
	</div>

	<div class="row">
			<div class="well">
				<h3><span class="fa fa-user"></span>Or, Create a New Business</h3>
				<div class="well">
					Form stuff here
					Business Name,
					email, 
					address, phone number
				</div>
			</div>
	</div>

</div>
</body>
</html>
