{{>head}}
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Profile Page</h1>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
		<a href="/users/{{ user._id}}" class="btn btn-default btn-sm">Back to Profile</a>
	</div>

	<div class="row">

		<!-- Editable Information -->
		<div class="col-sm-6">
			<div class="well">
				<h3 class="text-danger"><span class="fa fa-user"></span> Edit Information for User# {{ user}}</h3>

				<form method="POST" action="/users/{{ user }}">
					<input type="hidden" name="_method" value="put">
				  First name:		<input type="text" name="firstname"><br>
				  Last name: 		<input type="text" name="lastname"><br>
				  Mobile number: 	<input type="text" name="mobile"><br>
				  Street address: 	<input type="text" name="street"><br>
				  City: 			<input type="text" name="city"><br>
				  State: 			<input type="text" name="state"><br>
				  <input type="submit" value="Submit">
				</form>

			</div>
		</div>
	</div>
</div>

{{>footer}}
